.cat-king{
    background-image: url("cat-king.png");
    min-height: 50vh;
    background-size: cover;
}


.oimage{
    min-height: 350px;
    min-width: 450px;
    border: black;
    

}

.uimage{
    min-width: 250px;
    min-height: 300px;
}

.thick-line{
    
}